<%- include("../../layouts/header-admin", { title: "Tambah Booth" }) %>

    <div class="container py-4">

        <h3>Tambah Booth Baru</h3>

        <form method="POST" action="/admin/booths/create" class="mt-3">

            <div class="mb-3">
                <label class="form-label">Nama Booth</label>
                <input type="text" class="form-control" name="name" required>
            </div>

            <button class="btn btn-primary">Simpan</button>
            <a href="/admin/booths" class="btn btn-secondary">Kembali</a>
        </form>

    </div>

    <%- include("../../layouts/footer") %>