<%- include("../layouts/header", { title: "Photobooth" }) %>

    <div class="text-white text-center" style="margin-top: 120px;">
        <h2>Photobooth</h2>
    </div>

    <%- include("../layouts/footer") %>