<%- include("../layouts/header", { title: "Souvernir" }) %>

    <div class="text-white text-center" style="margin-top: 120px;">
        <h2>Souvernir</h2>
    </div>

    <%- include("../layouts/footer") %>