<%- include("../layouts/header", { title: "Souvenir" }) %>

    <div class="text-white text-center" style="margin-top:120px;">
        <h2>SOUVENIR</h2>

        <p class="mt-4">
            Terima kasih!<br>
            Anda berhak menerima souvenir Anda.<br><br>
            Jangan tutup halaman ini sebelum mengambil souvenir.
        </p>

        <a href="/dashboard" class="btn btn-success mt-4">BACK</a>
    </div>

    <%- include("../layouts/footer") %>